@import './variables';

.App-logo {
  height: 80px;
  pointer-events: none;
}

.App-header {
  background-color: $black;
  display: flex;
  justify-content: center;
}

.App-link {
  color: #61dafb;
}

.App-heading {
  font-size: 5rem;
  margin: 4rem 0 0;

  @media (max-width: $medium) {
    font-size: 3rem;
    margin: 3rem 0 0;
  }

  @media (max-width: $small) {
    font-size: 2rem;
    margin: 2rem 0 0;
  }
}

.App-wrapper {
  margin: 0 auto;
  max-width: 1170px;
  padding: 0 25px;
}

.App-content {
  @media (max-width: $small) {
    flex-wrap: wrap-reverse;
  }

  h3 {
    font-size: 3rem;
    margin: 0 0 1rem;

    @media (max-width: $medium) {
      font-size: 2rem;
    }

    @media (max-width: $small) {
      font-size: 1.5rem;
    }
  }
}

.App-footer {
  background: $black;
  border-top: solid 5px $green;
  height: 150px;
  margin-top: 7rem;

  @media (max-width: $small) {
    height: 80px;
    margin-top: 4rem;
  }
}
