@import './variables';

body {
  margin: 0;
  font-family: "Suisse Intl", "Helvetica", "Arial", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 20px;
  line-height: 1.5;

  @media (max-width: $medium) {
    font-size: 18px;
  }

  @media (max-width: $small) {
    font-size: 17px;
    line-height: 1.3;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p {
  margin: 0 0 2rem;
}

img {
  max-width: 100%;
}

.row {
  display: flex;
  margin-right: -25px;
  margin-left: -25px;
}

.col-12 {
  max-width: 100%;
  padding-right: 25px;
  padding-left: 25px;
  width: 100%;
}

.col-md-6 {
  padding-right: 25px;
  padding-left: 25px;
  width: 100%;

  @media (min-width: $small+1) {
    max-width: 50%;
  }
}
